// Variables

// Colores
$color-1:#77b5fe;
$color-2: white;
$color-3: black;

$stormy-sea: #335252;
$fog: #D4DDE1;
$rust: #AA4B41;
$charcoal: #2D3033;

$blue-green: #2C4A52;
$waterway: #537072;
$haze: #8E9B97;
$smog: #F4EBDB;

$dark-teal: #2B616D;
$arctic: #B2DBD5;
$white-cloud: #FFFFFF;
$brick: #FA8D62;

$bone: #F8F1E5;

// Medidas
$borders: 1px;
$paddings: 20px 20px;
$full-size: 100%;